</br>
<div class="container_new_reserva">

<center>
<h2>Editar Reserva</h2>
<br />
</center>

<%= render 'form', reserva: @reserva %>

<center>
<%= link_to 'Exibir', @reserva %> |
<%= link_to 'Voltar', admin_index_path %>
</center>

</div>
