<section class="container">
			<section class="login-form">
				<form method="post" action="home" role="login">
					<img src="http://www.ludusluderia.com.br/image/logo-ludus_252x213.png" class="img-responsive" alt="" />
					<input type="email" id="email" name="email" placeholder="E-mail" required class="form-control input-lg" />
					<input type="password" id="senha" name="password" placeholder="Senha" required class="form-control input-lg" />
					<button type="submit" id="entrar" name="go" style="border-radius: 8px;" class="btn btn-lg btn-block">Entrar</button>
				</form>
				<div class="form-links">
					<a href="/">Reservas Ludus</a>
				</div>
			</section>
	</section>
