<div id="content">
<img src="http://www.ludusluderia.com.br/image/logo-ludus_252x213.png"/>
<h1>Bem Vindo(a) ao sistema de Reservas </h1>
<div id="btns">
	<a class="btn" href="<%= reservas_path%>">Faça uma Reserva</a>
	<a class="btn" href="<%= admin_index_path%>">Administrador</a>
</div>
</div>
